Debug
ipch
.vs
Readings from sensors/Debug
Readings from sensors.VC.db
Readings from sensors.VC.db
Readings from sensors.VC.VC.opendb
Release/Race_2.iobj
Release/Race_2.ipdb
Release/Race_2.pdb
Readings from sensors/Release
Diagram/Diagram.md~
x64